<% content_for :head do %>
  <%= javascript_pack_tag 'push_notification/vapid' %>
  <%= javascript_pack_tag 'landing_pages/home' %>
<% end %>

<h2>Subscriptions</h2>
<div class='subscriptions'>
  <button id='subscribe'>Subscribe</button>
</div>

<h2>Sending messages</h2>
<div class='sending-message'>
  <input id='message'/>
  <button id='send-message'>Send message</button>
</div>
